@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "stolzl";
  src: url("/font/Stolzl/stolzl_medium.otf") format("opentype");
}
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  min-width: 0px;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
